<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "User", users_path %>
<%= link_to "Permission", permissions_path %>
<%= link_to "Role", roles_path %>
<%= link_to "Part", parts_path %>
<%= link_to "Drawing", drawings_path %>
